[Desktop Entry]
Name=X-CD-Roast
Comment=A X Window System based tool for creating CDs
Comment[pl]=Narzêdzie do tworzenia py³t CD 
Icon=xcdricon.png
Exec=xcdroast
Type=Application
Terminal=0
# vi: encoding=utf-8
