[Desktop Entry]
Name=X-CD-Roast
Type=Application
Exec=xcdroast
Comment=A X Window System based tool for creating CDs.
Comment[pl]=Narzêdzie do tworzenia p³yt CD 
Icon=xcdricon.xpm
